.b13{
  width: 100%; 
  height: 360px !important;
    /* background: linear-gradient(25deg,rgb(206, 18, 18),rgba(240, 84, 84, 0.3)) */
}
.b12{
  background: url('https://www.pega.com/sites/default/files/styles/1920/public/media/images/2018-07/fs-top-level-page-header.jpg?itok=AEsf7ir9') top center / cover no-repeat;
}
.b14{
  margin-top: -310px
}

/* login  */
.login-btn{
  color: #ffffff
}

.login-btn:hover{
  text-decoration: none;
  color: var(--accent)
}

.header,
.page-footer{
  background-color: var(--bg-primary)
}

/* link */
.nav-link-header{
  font-weight: 500;
  border-bottom: 5px solid #ffffff;
  height: 100%;
  width: 100px;
  color: #192F43;
  text-align: center;
  margin-left: 10px;
  padding-bottom: 5px;
  margin-bottom: 0;
}

.nav-link-header:hover{
  text-decoration: none;
  border-bottom: 5px solid #192F43;
  color: #192F43;
}


.landing-text{
  color: #ffffff;
}

.landing-jumbo{
  background-color: #ffffff;
}

.footer-link{
  color: var(--accent);
}

.footer-link:hover{
  color: #ffffff;
}

.landing-page-offerings{
  background-color: #192F43;
  color: #fcce02;
}
  