:root {
--bg-primary: #C84B31;
--bg-secondary: #ec674c;
--bg-light: #fdfaee;
--bg-dark: #414141;
--bg-component-light: f8f8f8;
--accent: #fcce02;
--fc-dark: #3f4556;
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: #f4f4f4;
}

.transfer-header{
  height: 40px;
  line-height: 40px;
  background-color: #fdfbd0;
  text-align: center;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  padding: 0 20px;
  margin: 0;
  /* border: 1px solid #b6b6b6; */
  border-bottom: none;
  text-align: left;
}

.add-account-dash{
  border: 1px solid #dbdbdb;
  padding: 0;
  background-color: #ec674c;
  display: flex;
  flex-direction: column;
  margin: 0 0 0 15px;
}

.add-account-link{
  padding: 10px;
  color: #ffffff;
border-bottom: 1px solid rgb(255, 255, 255);}
  

.add-account-link:hover{
  color: var(--accent);
  text-decoration: none;
}

.add-account-container{
  border: none;
  width: 945px;
  margin: 0;
  height: 50vh;
}

.create-account-wrapper{
  padding: 20px;
  height: 50vh;
  border: 1px solid rgba(0,0,0,0.2);
  border-left: none;
  background-color: #f8f8f8;
}

.fa-chevron-right{
  font-size: 12px;
}

.menu1{
  height: 90vh;
  background-color: #ffffff;
  padding: 0;
}

.container{
  padding: 0;
}

.wrapper{
  padding: 20px 50px;
}
