:root {
  /* Background Color */
--bg-primary: #C84B31;
--bg-secondary: #3A6351;
--bg-light: #EEEBDD;

/* Font Color */
--fc-light: #eeeeee;
--fc-dark: #4d4d4d;
--accent: #fcce02;
}


body{
  background-color: var(--bg-light)
}

.logout-btn{
  font-weight: 700;
  color: blue;
}

.logout-btn:hover{
  cursor: pointer;
  color: blue;
;}

.fab{
  color: #343A40;
}

.user-dash{
  /* margin-top: 50px; */
}
.fab:hover{
  color: #5186A8;
  cursor: pointer;
}

.b13{
  width: 100%; 
  height: 360px !important;
  /* background: linear-gradient(25deg,rgb(206, 18, 18),rgba(240, 84, 84, 0.3)) */
}

.b12{
  background: url('https://www.pinsentmasons.com/-/media/images/special-reports/openbanking-1440x700.jpg?h=583&la=en-gb&w=1200&hash=90BA1A8132AB74B2316FA934A39E1097') top center / cover no-repeat;
}

.b14{
  margin-top: -310px
}

.grey-text { 
  color: #3f4556; 
 }

 .blog-card .photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}
.blog-card .description {
  padding: 1rem;
  background: #fff;
  position: relative;
 /* z-index: 1; */
}
.blog-card .description h1 {
  line-height: 1;
  margin: 0;
  font-weight: 500;
  font-size: 1.3rem;
}
.blog-card .description h2 {
  font-size: 1rem;
  font-weight: 300;
  color: #a2a2a2;
  margin-top: 5px;
}
.blog-card .description .read-more {
  padding-top: 8px;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 6px;
  position: absolute;
  border-top: 1px solid #dadada;
  color: #007bff;
}
.blog-card .description .read-more a {
  font-size: 16px;
  display: inline-block;
  position: relative;
/*  border: 1px solid;
  padding: 2px 10px; */
  border-radius: 4px;
  text-transform: uppercase;
}
.blog-card .description .read-more .fa-arrow-right {
  margin-left: -9px;
  opacity: 0;
  vertical-align: middle;
  transition: margin .3s, opacity .3s;
}
.blog-card .description .read-more:hover .fa-arrow-right {
  margin-left: 5px;
  opacity: 1;
}
.blog-card p {
  position: relative;
  margin: 10px 0 0;
}
.blog-card p:first-of-type {
  margin-top: 1.25rem;
}
.blog-card:hover .details {
  left: 0%;
}

.login{
  /* height: 60vh; */
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px;
  margin: 80px auto 150px
}


.admin-container {
  display: flex;
  flex-direction: row;
}

.login-btn{
  color: #ffffff
}

.login-btn:hover{
  text-decoration: none;
  color: var(--accent)
}

#d3{
  border: none;
}
.menu{
  background-color: #ec674c;
  padding: 0 47px;
}

.admin-header{
  height: 100px;
  background-color: var(--bg-primary);
  border-bottom: 1px solid #ffffff;
}

.menu-link{
  color: #ffffff;
  border-bottom: 5px solid #343A40;
  /* line-height: 34px; */
}

.menu-link:hover{
  text-decoration: none;
  color: #ffffff;
  border-bottom: 5px solid #ffffff;
}

.dash-menu{
  text-align: center;
  font-size: 17px;
  color: #ffffff;
  width: 130px;
  border: 1px solid #ffffff;
  border-bottom: 5px solid var(--bg-primary);
  border-top: none;
  height: 100%;
  line-height: 40px;
}

.nav-link{
  border: 1px solid #ffffff;
  border-top: none;
  border-bottom: 5px solid var(--bg-primary);
  height: 100%;
  width: 130px;
  color: #ffffff;
}

.dash-menu:hover,
.nav-link:hover{
  text-decoration: none;
  border-bottom: 5px solid var(--accent);
  color: var(--accent);
}



.admin-top-header{
  padding: 0;
  background-color: #ffffff;
}

.dash-header{
  background-color: #ffffff;
  /* padding: 30px 0; */
}

.nav-bar{
  padding: 0;
}

.waves-effect{
  color: #343A40
}

.component-header{
  height: 60px;
  line-height: 50px;
  background-color: #ffffff;
  text-align: center;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #343A40;
  padding: 5px;
  border: 1px solid #343A40
}

.menu1{
  height: 90vh;
  background-color: #ffffff;
}

.form-select{
  border: 1px solid #c8c8c8;
  border-radius: 3px;
  width: 100px;
  margin-left: 15px;
}

.create-account-tab{
  color: blue
}

.add-account-dash{
  display: flex;
}

.header,
.page-footer{
  background-color: var(--bg-primary)
}

.landing-text{
  color: var(--bg-primary);
}

.landing-fa{
  color: #1B1717;
}

.landing-jumbo{
  background-color: #ffffff;
}

.footer-link{
  color: var(--accent);
}

.footer-link:hover{
  color: #ffffff;
}